# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes


# Linux
.fuse_hidden*
.Trash-*


# IDEs
.idea
.project

node_modules
*.log

# Dist
dist

# Ignore generating of default OpenAPI generator metadata
src/generated/git_push.sh
src/generated/.gitignore
src/generated/.npmignore
