{
  "openapi": "3.0.2",
  "info": {
    "version": "1.0.0",
    "title": "Sophos Factory API v1",
    "description": "",
    "contact": {
      "email": "factory.support@sophos.com"
    }
  },
  "servers": [
    {
      "url": "https://api.factory.sophos.com/v1",
      "description": "Sophos Factory API v1"
    }
  ],
  "tags": [
    {
      "name": "agents",
      "description": "Manage runner agents"
    },
    {
      "name": "catalogs",
      "description": "Manage catalogs"
    },
    {
      "name": "credentials",
      "description": "Manage credentials"
    },
    {
      "name": "jobs",
      "description": "Manage jobs"
    },
    {
      "name": "organizations",
      "description": "Manage organizations"
    },
    {
      "name": "pipelines",
      "description": "Manage pipelines"
    },
    {
      "name": "projects",
      "description": "Manage projects"
    },
    {
      "name": "runner_pools",
      "description": "Runner pools orchestrate fleets of runners"
    },
    {
      "name": "runs",
      "description": "Manage runs"
    },
    {
      "name": "tokens",
      "description": "Manage API authentication tokens"
    },
    {
      "name": "users",
      "description": "Manage organization users and groups"
    }
  ],
  "paths": {
    "/projects/{project_id}": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "Get project",
        "description": "",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to return",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "variables",
                  "notification_channels",
                  "organization"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "projects"
        ],
        "summary": "Update project",
        "description": "",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "delete": {
        "tags": [
          "projects"
        ],
        "summary": "Delete project",
        "description": "",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/groups": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "List project groups",
        "description": "",
        "operationId": "listProjectGroups",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "group_id": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "read",
                              "write",
                              "admin"
                            ]
                          },
                          "run": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Add project group",
        "description": "",
        "operationId": "addProjectGroup",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "group_id",
                  "role",
                  "run"
                ],
                "properties": {
                  "group_id": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "read",
                      "write",
                      "admin"
                    ]
                  },
                  "run": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/groups/{group_id}": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Update project group",
        "description": "",
        "operationId": "updateProjectGroup",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "read",
                      "write",
                      "admin"
                    ]
                  },
                  "run": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Remove project group",
        "description": "",
        "operationId": "removeProjectGroup",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/users": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "List project users",
        "description": "",
        "operationId": "listProjectUsers",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Add project user",
        "description": "",
        "operationId": "addProjectUser",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string"
                  },
                  "run": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/users/{_id}": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Update project user",
        "description": "",
        "operationId": "updateProjectUser",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "read",
                      "write",
                      "admin"
                    ]
                  },
                  "run": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Remove project user",
        "description": "",
        "operationId": "removeProjectUser",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/invites": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "List project invites",
        "description": "",
        "operationId": "listProjectInvites",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectInvite"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/invites/{_id}": {
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Revoke project invite",
        "description": "",
        "operationId": "revokeProjectInvite",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Invite ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/invites/{_id}/resend": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Resend project invite",
        "description": "",
        "operationId": "resendProjectInvite",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Invite ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/notification_channels": {
      "post": {
        "tags": [
          "projects"
        ],
        "summary": "Add project notification channel",
        "description": "",
        "operationId": "addProjectNotificationChannel",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationChannel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/notification_channels/{notification_channel_id}": {
      "post": {
        "tags": [
          "projects"
        ],
        "summary": "Update project notification channel",
        "description": "",
        "operationId": "updateProjectNotificationChannel",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "notification_channel_id",
            "in": "path",
            "description": "Notification Channel ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationChannel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "delete": {
        "tags": [
          "projects"
        ],
        "summary": "Remove project notification channel",
        "description": "",
        "operationId": "removeProjectNotificationChannel",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "notification_channel_id",
            "in": "path",
            "description": "Notification Channel ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/image": {
      "post": {
        "tags": [
          "projects"
        ],
        "summary": "Set image of a project",
        "description": "",
        "operationId": "setProjectImage",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_id": {
                    "type": "string"
                  },
                  "icon_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/pipelines": {
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "List pipelines",
        "description": "",
        "operationId": "listPipelines",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "modified_asc",
                "modified_desc",
                "name_asc",
                "name_desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pinned",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipelines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pipeline"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "pipelines"
        ],
        "summary": "Create pipeline",
        "description": "",
        "operationId": "createPipeline",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pipeline"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/pipelines/{_id}": {
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "Get pipeline",
        "description": "",
        "operationId": "getPipeline",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "pipelines"
        ],
        "summary": "Update a pipeline",
        "description": "",
        "operationId": "updatePipeline",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pipeline"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "tags": [
          "pipelines"
        ],
        "summary": "Delete pipeline",
        "description": "",
        "operationId": "deletePipeline",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/pipelines/{_id}/revisions": {
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "Get pipeline revisions",
        "description": "",
        "operationId": "getPipelineRevisions",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to return",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "variables",
                  "user",
                  "outputs"
                ]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "published",
            "in": "query",
            "description": "Filter pipelines by published status",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipeline_revisions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PipelineRevision"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "pipelines"
        ],
        "summary": "Create a pipeline revision",
        "description": "",
        "operationId": "createPipelineRevision",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineRevision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "revision": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/pipelines/{_id}/revisions/{revision_id}": {
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "Get pipeline revision",
        "description": "",
        "operationId": "getPipelineRevision",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "description": "Pipeline revision ID",
            "required": true,
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "format": "resource-id"
                },
                {
                  "enum": [
                    "latest",
                    "latest_published"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineRevision"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "pipelines"
        ],
        "summary": "Update a pipeline revision",
        "description": "",
        "operationId": "updatePipelineRevision",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "description": "Pipeline revision ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/pipelines/{_id}/revisions/{revision_id}/publish": {
      "post": {
        "tags": [
          "pipelines"
        ],
        "summary": "Publish a pipeline revision",
        "description": "",
        "operationId": "publishPipelineRevision",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "description": "Pipeline revision ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/pipelines/{_id}/revisions/{revision_id}/revisions": {
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "List pipeline revisions included in the steps of a given pipeline revision",
        "description": "",
        "operationId": "getPipelineRevisionPipelineRevisions",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "description": "Revision revision ID",
            "required": true,
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "format": "resource-id"
                },
                {
                  "enum": [
                    "latest",
                    "latest_published"
                  ]
                }
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to return",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "variables",
                  "outputs",
                  "steps",
                  "layout"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipelines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PipelineRevision"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/pipelines/{_id}/image": {
      "post": {
        "tags": [
          "projects"
        ],
        "summary": "Set image of a pipeline",
        "description": "",
        "operationId": "setPipelineImage",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_id": {
                    "type": "string"
                  },
                  "icon_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/catalogs/{catalog_id}": {
      "get": {
        "tags": [
          "catalogs"
        ],
        "summary": "Get catalog",
        "description": "",
        "operationId": "getCatalog",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "description": "Catalog ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to return",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "organization"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/catalogs/{catalog_id}/pipelines/{pipeline_id}/revisions/{revision_id}": {
      "get": {
        "tags": [
          "catalogs"
        ],
        "summary": "Get catalog pipeline revision",
        "operationId": "getCatalogPipelineRevision",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "description": "Catalog ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "pipeline_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "description": "Pipeline revision ID",
            "required": true,
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "format": "resource-id"
                },
                {
                  "enum": [
                    "latest",
                    "latest_published"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineRevision"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/catalogs/{catalog_id}/pipelines/{pipeline_id}/revisions/{revision_id}/pipelines": {
      "get": {
        "tags": [
          "catalogs"
        ],
        "summary": "List catalog pipelines included in the steps of a given catalog pipeline revision",
        "description": "",
        "operationId": "getCatalogPipelineRevisionPipelines",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "description": "Catalog ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "pipeline_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "description": "Pipeline revision ID",
            "required": true,
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "format": "resource-id"
                },
                {
                  "enum": [
                    "latest",
                    "latest_published"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipelines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pipeline"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/catalogs/{catalog_id}/pipelines/{pipeline_id}/revisions/{revision_id}/revisions": {
      "get": {
        "tags": [
          "catalogs"
        ],
        "summary": "List catalog pipeline revisions included in the steps of a given catalog pipeline pipeline revision",
        "description": "",
        "operationId": "getCatalogPipelineRevisionPipelineRevisions",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "description": "Catalog ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "pipeline_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "description": "Pipeline revision ID",
            "required": true,
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "format": "resource-id"
                },
                {
                  "enum": [
                    "latest",
                    "latest_published"
                  ]
                }
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to return",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "variables",
                  "outputs",
                  "steps",
                  "layout"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipelines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PipelineRevision"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/catalogs/{catalog_id}/pipelines/{pipeline_id}/revisions/{revision_id}/clone": {
      "post": {
        "tags": [
          "catalogs"
        ],
        "summary": "Clone catalog pipeline",
        "description": "",
        "operationId": "cloneCatalogPipeline",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "description": "Catalog ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "pipeline_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "description": "Pipeline revision ID",
            "required": true,
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "format": "resource-id"
                },
                {
                  "enum": [
                    "latest",
                    "latest_published"
                  ]
                }
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "recursive": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "revision": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/catalogs/{catalog_id}/pipelines/{pipeline_id}/revisions/{revision_id}/run": {
      "post": {
        "tags": [
          "catalogs"
        ],
        "summary": "Run catalog pipeline",
        "description": "",
        "operationId": "runCatalogPipeline",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "description": "Catalog ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "pipeline_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "description": "Pipeline revision ID",
            "required": true,
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "format": "resource-id"
                },
                {
                  "enum": [
                    "latest",
                    "latest_published"
                  ]
                }
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string",
                    "format": "resource-id"
                  },
                  "variables": {
                    "type": "object"
                  },
                  "suppress_vars": {
                    "type": "boolean"
                  },
                  "suppress_events": {
                    "type": "boolean"
                  },
                  "suppress_outputs": {
                    "type": "boolean"
                  },
                  "max_retries": {
                    "type": "integer"
                  },
                  "verbosity": {
                    "type": "string",
                    "nullable": true,
                    "enum": [
                      "error",
                      "warn",
                      "info",
                      "debug",
                      "trace",
                      ""
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/pipelines/{_id}/revisions/{revision_id}/pipelines": {
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "List pipelines included in the steps of a given pipeline revision",
        "description": "",
        "operationId": "getPipelineRevisionPipelines",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "description": "Revision revision ID",
            "required": true,
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "format": "resource-id"
                },
                {
                  "enum": [
                    "latest",
                    "latest_published"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipelines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pipeline"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/pipelines/{_id}/revisions/{revision_id}/clone": {
      "post": {
        "tags": [
          "pipelines"
        ],
        "summary": "Clone pipeline",
        "description": "",
        "operationId": "clonePipeline",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "description": "Pipeline revision ID",
            "required": true,
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "format": "resource-id"
                },
                {
                  "enum": [
                    "latest",
                    "latest_published"
                  ]
                }
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "recursive": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "revision": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/pipelines/{_id}/revisions/{revision_id}/run": {
      "post": {
        "tags": [
          "pipelines"
        ],
        "summary": "Run pipeline",
        "description": "",
        "operationId": "runPipeline",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "revision_id",
            "in": "path",
            "description": "Pipeline revision ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "variables": {
                    "type": "object"
                  },
                  "suppress_vars": {
                    "type": "boolean"
                  },
                  "suppress_events": {
                    "type": "boolean"
                  },
                  "suppress_outputs": {
                    "type": "boolean"
                  },
                  "max_retries": {
                    "type": "integer"
                  },
                  "verbosity": {
                    "type": "string",
                    "nullable": true,
                    "enum": [
                      "error",
                      "warn",
                      "info",
                      "debug",
                      "trace",
                      ""
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/credentials": {
      "get": {
        "tags": [
          "credentials"
        ],
        "summary": "List credentials",
        "description": "",
        "operationId": "listCredentials",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Credential types filter",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "generic",
                  "username_password",
                  "ssh_key",
                  "bearer_token",
                  "api_token",
                  "azure_service_principal",
                  "google_service_account",
                  "aws_access_key",
                  "vault_app_role",
                  "cis_license_bundle"
                ]
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_asc",
                "created_desc"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credentials": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Credential"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "credentials"
        ],
        "summary": "Create credential",
        "description": "",
        "operationId": "createCredential",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credential"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/credentials/{_id}": {
      "get": {
        "tags": [
          "credentials"
        ],
        "summary": "Get credential",
        "description": "",
        "operationId": "getCredential",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Credential ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "credentials"
        ],
        "summary": "Update credential",
        "description": "",
        "operationId": "updateCredential",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Credential ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "_id": {
                    "type": "string",
                    "readOnly": true
                  },
                  "created": {
                    "type": "string",
                    "format": "date-time",
                    "readOnly": true
                  },
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "delete": {
        "tags": [
          "credentials"
        ],
        "summary": "Delete credential",
        "description": "",
        "operationId": "deleteCredential",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Credential ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "List projects",
        "description": "",
        "operationId": "listProjects",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "modified_asc",
                "modified_desc",
                "name_asc",
                "name_desc"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to return",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "organization"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/catalogs/organizations": {
      "get": {
        "tags": [
          "catalogs"
        ],
        "summary": "List organizations with publicly available catalogs.",
        "description": "",
        "operationId": "listSharingCatalogsOrganizations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "image_id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/catalogs/{catalog_id}/pipelines": {
      "get": {
        "tags": [
          "catalogs"
        ],
        "summary": "List catalog pipelines",
        "description": "",
        "operationId": "listCatalogPipelines",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "description": "Catalog ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "modified_asc",
                "modified_desc",
                "name_asc",
                "name_desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pinned",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipelines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pipeline"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/catalogs/{catalog_id}/pipelines/{pipeline_id}": {
      "get": {
        "tags": [
          "catalogs"
        ],
        "summary": "Get catalog pipeline",
        "description": "",
        "operationId": "getCatalogPipeline",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "description": "Catalog ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "pipeline_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/catalogs/{catalog_id}/pipelines/{pipeline_id}/revisions": {
      "get": {
        "tags": [
          "catalogs"
        ],
        "summary": "Get catalog pipeline versions",
        "description": "",
        "operationId": "getCatalogPipelineRevisions",
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "description": "Catalog ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "pipeline_id",
            "in": "path",
            "description": "Pipeline ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to return",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "variables",
                  "outputs"
                ]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipeline_revisions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PipelineRevision"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/jobs": {
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "List jobs",
        "description": "",
        "operationId": "listJobs",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_asc",
                "created_desc",
                "last_run_asc",
                "last_run_desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to return",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "pipeline",
                  "pipeline_revision"
                ]
              }
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pinned",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Job"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "jobs"
        ],
        "summary": "Create job",
        "description": "",
        "operationId": "createJob",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/jobs/{_id}": {
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "Get job",
        "description": "",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Job ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to return",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "pipeline",
                  "pipeline_revision",
                  "webhook_token",
                  "expected_variables"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "jobs"
        ],
        "summary": "Update job",
        "description": "",
        "operationId": "updateJob",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Job ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "delete": {
        "tags": [
          "jobs"
        ],
        "summary": "Delete job",
        "description": "",
        "operationId": "deleteJob",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Job ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/jobs/{_id}/webhook/token": {
      "post": {
        "tags": [
          "jobs"
        ],
        "summary": "Regenerate job webhook token.",
        "description": "",
        "operationId": "regenerateJobToken",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          },
          {
            "name": "_id",
            "in": "path",
            "description": "Job ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "resource-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "parameters": []
    },
    "/projects/{project_id}/jobs/{_id}/run": {
      "post": {
        "tags": [
          "jobs"
        ],
        "summary": "Run job",
        "description": "",
[...]
